<h1>Update Your Tool</h1>
<%= simple_form_for( @tool) do |form| %>
  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :pdf_url %>
  <%= form.input :video_url %>
  <%= form.input :price %>
  <%= form.button :submit %>
<% end %>
