<div class="tool-show-container">
  <div id="tool-name">
    <strong>Name: </strong><%= @tool.name %>
  </div>
  <div id="tool-description">
    <strong>Description: </strong> <%= @tool.description %>
  </div>
  <div id="tool-pdf">
    <strong>PDF: </strong> <%= @tool.pdf_url %>
  </div>
  <div id="tool-audio">
    <strong>Audio: </strong> <%= @tool.audio_url %>
  </div>
  <div id="tool-price">
    <strong>Price: </strong> <%= @tool.price %> CAD
  </div>
  <div id="add-to-purchase">
    <strong>Purchase tool</strong>
    <%= render 'purchases/form', tool: @tool, purchase: @purchase %>
  </div>
  <div id="tool-feedback">
    <strong>Add a feedback</strong>
    <p><strong>See all the reviews</strong>
      <% if @tool_feedbacks != nil %>
      <% @tool_feedbacks.each_with_index do |tool_feedback, index| %>
        <p><strong>Feedback n°<%=index + 1 %></strong></p>
        <p><strong>From: </strong><%= tool_feedback.user.first_name %> <%= tool_feedback.user.last_name %></p>
        <p> <%= tool_feedback.content %> </p>
      <% end %>
      <%else %>
        <p>no feedback yet</p>
      <% end %>
    </p>
  </div>
  <div class="update-tool">
<<<<<<< HEAD

=======
    Update tool
>>>>>>> 01295ddd6f2e15e7bb102c06b8064fcce9492ce7
  </div>
  <div class="delete-tool">
    <%= link_to "Delete tool", tool_path(@tool), method: :delete %>
  </div>
</div>
