<div id="tool-name">
  <strong>Name: </strong><%= @tool.name %>
</div>
<div id="tool-description">
  <strong>Description: </strong> <%= @tool.description %>
</div>
<div id="tool-pdf">
  <strong>PDF: </strong> <%= @tool.pdf_url %>
</div>
<div id="tool-audio">
  <strong>Audio: </strong> <%= @tool.audio_url %>
</div>
<div id="tool-price">
  <strong>Price: </strong> <%= @tool.price %> CAD
</div>
<div id="tool-add">
  <a href="">Add a tool to this course </a>
</div>
<div id="tool-feedback">
  Add a feedback
  See all the reviews
</div>
