<div class="index-home-container">
  <% @courses.each do |course| %>
    <div class="courses-card">
      <%= link_to course_path(course) do %>
      <div class="course-title">
        <%= course.title %>
      </div>
      <div class="course-content">
        <%= course.description %>
      </div>
      <div class="course-footer">
        <%= course.user.first_name %> <%= course.user.last_name %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
