  <div class="dashboard-title">
    <h1>Your tutor dashboard</h1>
  </div>
  <div class="contain-container">
    <div class="user-container">
      <div class="avatar-large tutor-avatar">
        <i class="fas fa-user-tie"></i>
      </div>
      <div class="tutor_name" class="name-cell-style">
        <h5>Contact</h5>
        <p><%= @tutor.first_name %> <%= @tutor.last_name %></p>
      </div>
      <div class="user-contact">
        <p><%= @tutor.email%></p>
      </div>
    </div>
      <div class="infos-container">
        <div class="biographie-cell-style">
          <p>About me</p>
          <p><%= @tutor.biographie %></p>
        </div>
        <div class="resume-cell-style">
          <p>Resume</p>
        </div>
        <div class="tutor-course-container">
          <p><strong>Courses Index:</strong></p>
          <% @tutor_courses.each do |course| %>
          <div class="tutor-course">
            <div class="course-title">
              <strong><%= course.title %></strong>
            </div>
            <div class="all-tools-course hidden">
            <% course.tools.each do |tool| %>
              <div class="tutor-course-tool">
              <%= tool.name %>
              <% end %>
              </div>
            <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <div class="skills-container">
  <div class="skills">
    <p>Teacher skills</p>
  </div>
</div>
