<div class="tutor-dashboard-container">
  <div class="dashboard-title">
    Your tutor dashboard
  </div>
  <div class="contain-container">
    <div class="avatar-div avatar-large">
      ToDO uploader picture
    </div>
      <div class="infos-container">
        <div id="tutor_name" class="name-cell-style">
          <%= @tutor.first_name %>
          <%= @tutor.last_name %>
        </div>

        <div id="tutor-biographie" class="biographie-cell-style">
          <%= @tutor.biographie %>
        </div>
        <div class="tutor-course-container">
          <% @tutor_courses.each do |course| %>
          <div id="tutor-courses">
            <%= course.title %>
            <% course.tools.each do |tool| %>
              <div id="tutor-course-tool">
              <%= tool.name %>
              <% end %>
              </div>
            <% end %>
          </div>
        <div id="add-course">
          add a course
        </div>
      </div>
    </div>
  </div>
</div>
