<p>Code:  <%= @course.code %> </p>
<p> Title:  <%= @course.title %> </p>
<p> Team :
  <% @tools.each do |tool| %>
    <%= tool.user.first_name %>
    <%= tool.user.last_name %>
  <% end %>
</p>
<p> Course description: <%= @course.description %> </p>
<p> Category: <%= @course.category %> </p>
<p> List of tools: </p>
<div class="index-tool-container">
  <% @tools.each do |tool| %>
    <div class="tool-card">
      <%= link_to tool_path(tool) do %>
      <div class="tool-card-title">
        <%= tool.name %>
      </div>
      <div class="tool-card-content">
        <%= tool.description %>
      </div>
      <div class="tool-card-footer">
        <%= tool.pdf_url %>
        <%= tool.audio_url %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<div id="new-tool">
  <%= render 'tools/form', course: @course, tool: @tool %>
</div>
<div class="index-course-feedbacks-container">
  <strong>Add a feedback</strong>
  <p><strong>See all the reviews</strong>
    <% @course_feedbacks.each_with_index do |course_feedback, index| %>
      <p><strong>Feedback n°<%=index + 1 %></strong></p>
      <p><strong>From: </strong><%= course_feedback.user.first_name %> <%= course_feedback.user.last_name %></p>
      <p> <%= course_feedback.content %> </p>
    <% end %>
  </p>
</div>
