<p>Code:  <%= @course.code %> </p>
<p> Title:  <%= @course.title %> </p>
<p> Team :
  <% @tools.each do |tool| %>
    <%= tool.user.first_name %>
    <%= tool.user.last_name %>
  <% end %>
</p>
<p> Course description: <%= @course.description %> </p>
<p> Category: <%= @course.category %> </p>
<p> List of tools:
  <% @tools.each do |tool| %>
    <%= tool.name %>
  <% end %>
</p>
