<p>Code:  <%= @course.code %> </p>
<p> Title:  <%= @course.title %> </p>
<p> Team :
  <% @tools.each do |tool| %>
    <%= tool.user.first_name %>
    <%= tool.user.last_name %>
  <% end %>
</p>
<p> Course description: <%= @course.description %> </p>
<p> Category: <%= @course.category %> </p>
<p> List of tools: </p>
<div class="index-tool-container">
  <% @tools.each do |tool| %>
    <div class="tool-card">
      <%= link_to tool_path(tool) do %>
      <div class="tool-card-title">
        <%= tool.name %>
      </div>
      <div class="tool-card-content">
        <%= tool.description %>
      </div>
      <div class="tool-card-footer">
        <%= tool.pdf_url %>
        <%= tool.audio_url %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
<div id="new-tool">
  <strong>Add a tool to tis course</strong>
  <%= render 'tools/form', course: @course, tool: @tool %>
</div>
<div class="index-course-feedbacks-container">
  <strong>Add a feedback</strong>
  <div id="form-new-course-feedback">
  <%= render 'course_feedbacks/form', course: @course, course_feedback: @course_feedback %>
  </div>
  <div id="all-review-button">
    <p><strong>See all the reviews</strong>
  </div>
  <div class="all-reviews-display hidden">
  <div id="new-course-feedback">

  </div>
      <% @course_feedbacks.each_with_index do |course_feedback, index| %>
      <div class="feedback-number">
        <p><strong>Feedback n°<%=index + 1 %></strong></p>
      </div>
      <div class="feedback-author">
        <p><strong>From: </strong><%= course_feedback.user.first_name %> <%= course_feedback.user.last_name %></p>
      </div>
      <div class="feedback-content">
        <p> <%= course_feedback.content %> </p>
      </div>
      <div class="update-feedback">
        <%= link_to edit_course_course_feedback_path(course_feedback) do %>
          Update feedback
        <% end %>
      </div>
      <div class="delete-feedback">
        <%= link_to "Delete feedback", root_path, method: :delete %>
      </div>
      <% end %>
  </div>


